/* Button styles */

.button {
  @apply rounded-button bg-dark-10 text-label h-input-mobile md:h-input inline-flex cursor-pointer flex-row items-center justify-center gap-3 border border-transparent px-6 transition-all duration-200 ease-in-out;
  color: color-contrast(var(--dark-40));

  &:hover {
    @apply bg-dark-10/70 shadow-btn;
    transform: translateY(-1px);
  }

  &:active {
    @apply shadow-btn;
    transform: translateY(0);
  }

  &.primary {
    @apply bg-dark hover:bg-dark/80 text-dark-foreground;
  }

  &.warn {
    @apply bg-tertiary hover:bg-tertiary/80 text-black;
  }

  &.danger {
    @apply bg-destructive hover:bg-destructive/80 text-black;
  }

  &.raised {
    @apply shadow-sm;
  }
}

.button.outlined {
  @apply border-dark-40 text-dark hover:bg-muted dark:border-contrast border-1 bg-transparent;

  &.primary {
    @apply border-dark hover:bg-muted text-current;
  }

  &.warn {
    @apply text-tertiary border-tertiary hover:bg-tertiary/10;
  }

  &.danger {
    @apply text-destructive border-destructive hover:bg-destructive/10;
  }
}

.button.text {
  @apply hover:bg-muted dark:hover:bg-dark-04 bg-transparent text-current;

  &.primary {
    @apply text-dark hover:bg-muted;
  }

  &.warn {
    @apply text-tertiary hover:bg-tertiary/10;
  }

  &.danger {
    @apply text-destructive hover:bg-destructive/10;
  }
}

.button.icon {
  @apply relative h-11 w-11 rounded-full p-0;

  .svg {
    color: currentColor;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.button.narrow {
  @apply px-input-xs;
}

.button.inset {
  @apply border-none;
  height: calc(var(--height-input) - 2px);

  &:hover {
    box-shadow: none;
    transform: translateY(0);
  }
}

.button.tag {
  height: auto;
}

.button.free {
  height: auto;
}

.button.justify-between {
  @apply justify-between;
}

.button:disabled {
  @apply bg-dark-10 text-dark-40 pointer-events-none cursor-not-allowed opacity-50;

  &.outlined {
    @apply border-dark-10 text-dark-40 bg-transparent;
  }

  &.text {
    @apply text-dark-40 hover:bg-muted bg-transparent;
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .button {
    border-radius: 0;
  }

  .button:first-child {
    @apply rounded-l-button;
  }

  .button:last-child {
    @apply rounded-r-button;
  }
}