::placeholder {
  @apply text-foreground-alt/80;
}

.form {
  display: flex;
  flex-direction: column;
  place-items: normal normal;
  gap: 1rem;
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  /* height: 5.875rem; */
  height: 5.125rem;
  position: relative;
  justify-content: center;

  &.stretch {
    min-height: 7.5rem;
    height: stretch;
    height: -webkit-fill-available;
  }

  & > label,
  & > .label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  textarea {
    margin-block: 1.5rem;
    height: auto;
    field-sizing: content;
  }

  .helper-text-container {
    position: absolute;
    bottom: 0.25rem;
    left: 0;
    right: 0;
  }

  &.nolabel,
  &.nohints {
    height: 3.75rem;
  }

  &.nolabel:not(.sl-form-field--selectable) {
    justify-content: start !important;

    label {
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
      position: absolute;
      white-space: nowrap;
      word-wrap: normal;
      border: 0;
    }

    textarea {
      margin-top: 0;
    }
  }

  &.nohints {
    justify-content: end !important;
  }

  &.nolabel.nohints {
    height: var(--input-height);

    textarea {
      margin-bottom: 0;
    }
  }

  &.inline {
    display: grid;
    grid-template:
      "a b" var(--input-height)
      ". c" 1.125rem / min-content auto;
    gap: 0.5rem 0.5rem;

    & > label,
    & > .label {
      position: relative;
    }

    & > .sl-form-field__error,
    & > .sl-form-field__hint {
      grid-area: c;
    }
  }

  &.stretch {
    min-height: 7rem;
    height: stretch;
    height: -webkit-fill-available;
  }
}

.form-field .helper-text {
  display: flex;
  flex-direction: row;
  opacity: 0.8;
  line-height: 1;
}

.textinput {
  @apply h-input border-border-input hover:border-border-input-hover border bg-input-bg dark:border-gray-800;
  border-radius: var(--radius-input);
  padding: var(--padding-input-y) var(--padding-input-x);
}

.textarea {
  @apply border-border-input hover:border-border-input-hover max-h-64 min-h-16 resize-y border bg-input-bg dark:border-gray-800;
  border-radius: var(--radius-input);
  padding: var(--padding-input-y) var(--padding-input-x);
}
