/* Material typography classes */
.display-large {
  font-size: 3.5rem; /* 56px */
  line-height: 4rem; /* 64px */
  font-weight: 400;
  letter-spacing: 0;
}

.display-medium {
  font-size: 2.75rem; /* 44px */
  line-height: 3.25rem; /* 52px */
  font-weight: 400;
  letter-spacing: 0;
}

.display-small {
  font-size: 2.25rem; /* 36px */
  line-height: 2.75rem; /* 44px */
  font-weight: 400;
  letter-spacing: 0;
}

.headline-large {
  font-size: 2rem; /* 32px */
  line-height: 2.5rem; /* 40px */
  font-weight: 400;
  letter-spacing: 0;
}

.headline-medium {
  font-size: 1.75rem; /* 28px */
  line-height: 2.25rem; /* 36px */
  font-weight: 400;
  letter-spacing: 0;
}

.headline-small {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-weight: 400;
  letter-spacing: 0;
}

.title-large {
  font-size: 1.375rem; /* 22px */
  line-height: 1.75rem; /* 28px */
  font-weight: 400;
  letter-spacing: 0;
}

.title-medium {
  font-size: 1.125rem; /* 18px */
  line-height: 1.5rem; /* 24px */
  font-weight: 500;
  letter-spacing: 0;
}

.title-small {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  font-weight: 500;
  letter-spacing: 0;
}

.body-large {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: 400;
  letter-spacing: 0;
}

.body-medium {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  font-weight: 400;
  letter-spacing: 0;
}

.body-small {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  font-weight: 400;
  letter-spacing: 0.1;
}

.label,
.label-large {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  font-weight: 500;
  letter-spacing: 0;
}
.helper-text,
.label-medium {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  font-weight: 500;
  letter-spacing: 0.1;
}

.legal,
.label-small {
  font-size: 0.625rem; /* 10px */
  line-height: 1rem; /* 16px */
  font-weight: 500;
  letter-spacing: 0.1;
}

.helper-text-container .helper-text {
  line-height: 1.25;
}

/* Carbon DS type sets. Type set suffix has been removed. All class name belong to "02" (expressive). */
/* See https://carbondesignsystem.com/elements/typography/type-sets/ for usage guidelines */

.body {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0;
}

.body-compact {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  letter-spacing: 0;
}

/* Fixed Headings */
.heading-compact {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 600;
  letter-spacing: 0;
}

.heading {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  letter-spacing: 0;
}

/* Fluid Headings */
.fluid-heading-03 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0;
}

.fluid-heading-04 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 400;
  letter-spacing: 0;
}

.fluid-heading-05 {
  font-size: 2.625rem;
  line-height: 3.125rem;
  font-weight: 300;
  letter-spacing: 0;
}

.fluid-heading-06 {
  font-size: 2.625rem;
  line-height: 3.125rem;
  font-weight: 600;
  letter-spacing: 0;
}

/* Lists */
.list {
  display: flex;
  flex-direction: column;
}

.listitem,
.listitem.button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: auto;
  padding: 0.75rem;
  border: none;
  border-radius: 0;
}

.listitem__content {
  display: block;
  overflow: hidden;
  text-align: left;

  & > * {
    display: block;
  }
}

.listitem__end {
  display: flex;
  flex-direction: row;
  flex: 0;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-right: -0.25rem;
}

/* Apply hover state to secondary action buttons within list item buttons */
.listitem.button > .listitem__end > .button.text {
  @apply hover:bg-gray-50 dark:hover:bg-black/95;
}

.badge {
  @apply bg-accent text-accent-foreground inline-flex h-6 min-w-6 items-center justify-center rounded-full;

  &.danger {
    @apply bg-destructive;
    color: color-contrast(var(--destructive));
  }

  &.warn {
    @apply bg-tertiary;
    color: color-contrast(var(--tertiary));
  }

  &.info {
    @apply bg-info;
    color: color-contrast(var(--info));
  }

  &.success {
    @apply bg-success;
    color: color-contrast(var(--success));
  }

  &.subtle {
    @apply bg-muted text-muted-foreground;
  }
}
