@import 'tailwindcss';
@plugin 'tailwindcss-animate';

/* Need to implement theme handling before enabling `.dark` variant */
/* @custom-variant dark (&:where(.dark, .dark *)); */

:root {
  --base-font-size: 16px;
  --base-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --base-font-weight: 300;

  /* Colors */
  --mauve-50: oklch(98.5% 0 0);
  --mauve-100: oklch(96% 0.003 325.6);
  --mauve-200: oklch(92.2% 0.005 325.62);
  --mauve-300: oklch(86.5% 0.012 325.68);
  --mauve-400: oklch(71.1% 0.019 323.02);
  --mauve-500: oklch(54.2% 0.034 322.5);
  --mauve-600: oklch(43.5% 0.029 321.78);
  --mauve-700: oklch(36.4% 0.029 323.89);
  --mauve-800: oklch(26.3% 0.024 320.12);
  --mauve-900: oklch(21.2% 0.019 322.12);
  --mauve-950: oklch(14.5% 0.008 326);

  --p-zinc-50: hsl(0 0% 98.04%);
	--p-zinc-100: hsl(240 4.76% 95.88%);
	--p-zinc-200: hsl(240 5.88% 90%);
	--p-zinc-300: hsl(240 4.88% 83.92%);
	--p-zinc-400: hsl(240 5.03% 64.9%);
	--p-zinc-500: hsl(240 3.83% 46.08%);
	--p-zinc-600: hsl(240 5.2% 33.92%);
	--p-zinc-700: hsl(240 5.26% 26.08%);
	--p-zinc-800: hsl(240 3.7% 15.88%);
	--p-zinc-900: hsl(240 5.88% 10%);
	--p-zinc-950: hsl(240 10% 3.92%);

	--slate-50: hsl(210 40% 98%);
	--slate-100: hsl(210 40% 96%);
	--slate-200: hsl(214 32% 91%);
	--slate-300: hsl(213 27% 84%);
	--slate-400: hsl(215 20% 65%);
	--slate-500: hsl(215.4 16.3% 46.9%);
	--slate-600: hsl(215.3 19.3% 34.5%);
	--slate-700: hsl(215.3 25% 27.7%);
	--slate-800: hsl(217.2 32.6% 17.4%);
	--slate-900: hsl(222.2 47.4% 11.2%);
	--slate-950: hsl(228.6 84% 4.9%);

	--p-stone-50: hsl(60 9.09% 97.84%);
	--p-stone-100: hsl(60 4.76% 95.88%);
	--p-stone-200: hsl(20 5.88% 90%);
	--p-stone-300: hsl(24 5.75% 82.94%);
	--p-stone-400: hsl(24 5.43% 63.92%);
	--p-stone-500: hsl(25 5.26% 44.71%);
	--p-stone-600: hsl(33.33 5.45% 32.35%);
	--p-stone-700: hsl(30 6.25% 25.1%);
	--p-stone-800: hsl(12 6.49% 15.1%);
	--p-stone-900: hsl(24 9.8% 10%);
	--p-stone-950: hsl(20 14.29% 4.12%);

  --fuchsia-800: #86198f;

	--purple-800: #6b21a8;

	--sky-800: #075985;
	
	--blue-800: #1e40af;

	--green-700: #15803d;
	--green-800: #166534;

	--lime-800: #3f6212;

	--amber-600: #d97706;
	--amber-700: #b45309;

	--red-800: #991b1b;

	--pink-700: #be185d;

	--white: hsl(0 0% 100%);
	--black: hsl(0 0% 0%);

	--warn: hsl(24.6 95% 53.1%);
	--warn-text: hsl(20.5 90.2% 48.2%);
	--danger: hsl(8 73.7% 41.8%);
	--danger-text: hsl(8 73.7% 41.8%);

  --background: var(--mauve-100);
  --background-alt: var(--mauve-200);
  --foreground: var(--mauve-900);
  --foreground-alt: var(--mauve-700);
  --muted: oklch(from var(--mauve-100) l c h / 0.7);
  --muted-foreground: oklch(from var(--mauve-900) l c h / 0.4);
  --accent: AccentColor;
  --accent-foreground: AccentColorText;
  --input: oklch(from var(--mauve-50) l c h / 0.5);
  --input-bg: var(--input);
  --border: hsl(240 6% 10%);
  --border-input: var(--mauve-100);
  --border-input-hover: hsla(240 6% 10% / 0.4);
  --border-card: hsla(240 6% 10% / 0.1);
  --line: hsl(0 0% 90.92%);
  --dark: hsl(240 6% 10%);
  --dark-foreground: hsl(0 0% 100% / 0.8);
  --dark-10: hsla(240 6% 10% / 0.1);
  --dark-40: hsla(240 6% 10% / 0.4);
  --dark-04: hsla(240 6% 10% / 0.04);
  --accent: var(hsla(240 6% 10%));
  --accent-foreground: hsl(0 0% 100% / 0.8);
  --destructive: hsl(347 77% 50%);
  --tertiary: hsl(37.7 92.1% 50.2%);
  --info: hsl(201 90% 50%);
  --success: hsl(141 71% 48%);

  /* Shadows */
  --shadow-mini: 0px 1px 1px rgba(0, 0, 0, 0.1);
  --shadow-mini-inset: 0px 1px 0px 0px rgba(0, 0, 0, 0.04) inset;
  --shadow-dialog: 0px 3px 12px 3px var(--dark);
  --shadow-popover: 0px 4px 8px 3px var(--dark-10);
  --shadow-kbd: 0px 2px 0px 0px rgba(0, 0, 0, 0.07);
  --shadow-btn: 0px 1px 2px rgba(0, 0, 0, 0.2);
  --shadow-card: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
  --shadow-input: 0px 1px 1px rgba(0, 0, 0, 0.1);
  --shadow-input-focus: 0px 0px 1px 1px rgba(24, 24, 27, 0.17);
  --shadow-date-field-focus: var(--shadow-input-focus);

  --shadow-ring: 1px 1px 1px 1px var(--accent)

  --button-radius: 0.25rem;
  --button-height: 2.25rem;
  --button-height-mobile: 2.75rem;
  
  --input-radius: 0.25rem;
  --input-height: 2.25rem;
  --input-height-mobile: 2.75rem;

  /* Text sizes */
  --text-xxs: 0.625rem;     /* 10px */
  --text-xs: 0.75rem;       /* 12px */
  --text-sm: 0.875rem;      /* 14px */
  --text-base: 1rem;        /* 16px */
  --text-lg: 1.125rem;      /* 18px */
  --text-xl: 1.375rem;      /* 22px */
  --text-2xl: 1.5rem;       /* 24px */
  --text-3xl: 1.75rem;      /* 28px */
  --text-4xl: 2rem;         /* 32px */
  --text-5xl: 2.25rem;      /* 36px */
  --text-6xl: 2.75rem;      /* 44px */
  --text-7xl: 3.5rem;       /* 56px */

  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Colors */
    --background: var(--black);
    --background-alt: var(--mauve-900);
    --foreground: var(--mauve-50);
    --foreground-alt: var(--mauve-300);
    --muted: hsla(240, 4%, 16%, 0.2);
    --muted-foreground: var(--mauve-400);
    --card-bg: var(--mauve-800);
    --input: var(--white);
    --input-bg: oklch(from var(--mauve-800) l c h / 0.75);
    --border: oklch(from var(--mauve-800) l c h / 0.25);
    --border-input: hsla(0 0% 96% / 0.17);
    --border-input-hover: hsla(0 0% 96% / 0.4);
    --border-card: hsla(0 0% 50% / 0.25);
    --line: hsl(0 0% 15%);
    --ring-foreground: AccentColor;
    --dark: hsl(0 0% 96%);
    --dark-foreground: hsl(0 0% 5% / 0.8);
    --dark-40: hsl(0 0% 96% / 0.4);
    --dark-10: hsl(0 0% 96% / 0.1);
    --dark-04: hsl(0 0% 96% / 0.04);
    --destructive: hsl(350 89% 60%);
    --tertiary: hsl(61.3 100% 82.2%);

    /* Shadows */
    --shadow-mini: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    --shadow-mini-inset: 0px 1px 0px 0px rgba(0, 0, 0, 0.5) inset;
    --shadow-popover: 0px 7px 12px 3px hsla(0deg 0% 0% / 30%);
    --shadow-kbd: 0px 2px 0px 0px rgba(255, 255, 255, 0.07);
    --shadow-btn: 0px 1px 2px rgba(0, 0, 0, 0.2);
    --shadow-card: 0px 2px 0px 1px rgba(0, 0, 0, 0.4);
    --shadow-input: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    --shadow-input-focus: 0px 0px 1px 1px -highlight;
    --shadow-date-field-focus: var(--shadow-input-focus);
  }
}

@theme inline {
  --color-destructive: var(--destructive);
  --color-warn: var(--warn);
  --color-tertiary: var(--tertiary);
  --color-info: var(--info);
  --color-success: var(--success);
  --color-background: var(--background);
  --color-background-alt: var(--background-alt);
  --color-foreground: var(--foreground);
  --color-foreground-alt: var(--foreground-alt);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border-card);
  --color-border-input: var(--border-input);
  --color-border-input-hover: var(--border-input-hover);
  --color-border-card: var(--border-card);
  --color-border-destructive: var(--destructive);
  --color-ring: var(--accent);
  --color-dark: var(--dark);
  --color-dark-foreground: var(--dark-foreground);
  --color-dark-10: var(--dark-10);
  --color-dark-40: var(--dark-40);
  --color-dark-04: var(--dark-04);
  --color-line: var(--line);
  --color-contrast: var(--contrast);
  --color-input-bg: var(--muted);
  --color-input: var(--mauve-200);

  --shadow-mini: var(--shadow-mini);
  --shadow-mini-inset: var(--shadow-mini-inset);
  --shadow-popover: var(--shadow-popover);
  --shadow-kbd: var(--shadow-kbd);
  --shadow-btn: var(--shadow-btn);
  --shadow-card: var(--shadow-card);
  --shadow-input: var(--shadow-input);
  --shadow-input-focus: var(--shadow-input-focus);
  --shadow-date-field-focus: var(--shadow-input-focus);

  --shadow-ring: var(--ring-shadow);

  --text-xxs: var(--text-xxs);
  --text-xs: var(--text-xs);
  --text-sm: var(--text-sm);
  --text-base: var(--text-base);
  --text-lg: var(--text-lg);
  --text-xl: var(--text-xl);
  --text-2xl: var(--text-2xl);
  --text-3xl: var(--text-3xl);
  --text-4xl: var(--text-4xl);
  --text-5xl: var(--text-5xl);
  --text-6xl: var(--text-6xl);
  --text-7xl: var(--text-7xl);
  --text-helper-text: var(--text-xs);
  --text-label: var(--text-sm);
  --text-body: var(--text-base);

  --radius-card: 8px;
  --radius-card-lg: 20px;
  --radius-card-sm: 10px;
  --radius-button: var(--button-radius);
  --radius-input: var(--input-radius);
  --radius-5px: 5px;
  --radius-9px: 9px;
  --radius-10px: 10px;
  --radius-15px: 15px;

  --height-input: var(--input-height);
  --height-input-mobile: var(--input-height-mobile);

  --padding-input-xs: 0.6875rem;
  --padding-input-sm: 0.5625rem;
  --padding-input: 0.6875rem;
  --padding-input-x: 0.5625rem;
  --padding-input-y: 0.4625rem;
  --padding-card: 1.5rem;
  --padding-dialog: 1.5rem;

  --spacing-input: 3rem;
  --spacing-input-sm: 2.5rem;

  --breakpoint-desktop: 1440px;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-caret-blink: caret-blink 1s ease-out infinite;
  --animate-scale-in: scale-in 0.2s ease;
  --animate-scale-out: scale-out 0.15s ease;
  --animate-fade-in: fade-in 0.2s ease;
  --animate-fade-out: fade-out 0.15s ease;
  --animate-enter-from-left: enter-from-left 0.2s ease;
  --animate-enter-from-right: enter-from-right 0.2s ease;
  --animate-exit-to-left: exit-to-left 0.2s ease;
  --animate-exit-to-right: exit-to-right 0.2s ease;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--bits-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--bits-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }

  @keyframes enter-from-right {
    from {
      opacity: 0;
      transform: translateX(200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes enter-from-left {
    from {
      opacity: 0;
      transform: translateX(-200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes exit-to-right {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(200px);
    }
  }

  @keyframes exit-to-left {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-200px);
    }
  }

  @keyframes scale-in {
    from {
      opacity: 0;
      transform: rotateX(-10deg) scale(0.9);
    }
    to {
      opacity: 1;
      transform: rotateX(0deg) scale(1);
    }
  }

  @keyframes scale-out {
    from {
      opacity: 1;
      transform: rotateX(0deg) scale(1);
    }
    to {
      opacity: 0;
      transform: rotateX(-10deg) scale(0.95);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border-card, currentColor);
  }

  *, :after, :before, ::backdrop {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }
  
  html {
    @apply bg-background text-foreground;
    font-size: var(--base-font-size, 14px);
    font-family: var(--base-font-family);
    font-weight: var(--base-font-weight, 300);
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    padding: 0;
    min-block-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* disable chrome cancel button */
  input[type='search']::-webkit-search-cancel-button {
    display: none;
  }

  /* ::selection {
    background: #fdffa4;
    color: black;
  } */

  hr {
    @apply border-line;
  }
}

@layer components {
  *:not(body):not(.focus-override) {
    outline: none !important;
    &:focus-visible {
      @apply focus-visible:outline-hidden focus-visible:shadow-mini focus-visible:shadow-accent focus-visible:ring focus-visible:ring-accent/70;
    }
    &.invalid:focus-visible {
      @apply focus-visible:ring-warn;
    }
  }

  .link {
    @apply hover:text-foreground/80 focus-visible:ring-foreground focus-visible:ring-offset-background inline-flex items-center gap-1 rounded-xs font-medium underline underline-offset-4 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-hidden;
  }
}

@import './styles/buttons';
@import './styles/forms';
@import './styles/typography';
@import './styles/markdown';
@import './styles/ui';

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}